@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"<em>MinimumWageWatch</em>!</h1>
    <p>Welcome to MinimumWageWatch, your comprehensive source for tracking minimum wage!</p>
</div>
