@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"<em>CaliforniaMinWatch</em>!</h1>
    <p>Welcome to California MinWatch, your comprehensive source for tracking California's ever-changing minimum wage!</p>
</div>
