@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><em>MinimumWageWatch</em>!</h1>
    <h3>Welcome to MinimumWageWatch, your comprehensive source for tracking minimum wage!</h3>
    <form asp-action="Login" method="post">
        <input class="btn-outline-dark" type="submit" value="Login" />
    </form>
    <hr />
    <form asp-action="CreateUser" method="post">
        <input class="btn-outline-dark" type="submit" value="Register New Account" />
    </form>
</div>
