@model FinalProject.ViewModels.SearchViewModel
@{
    ViewData["Title"] = "Search Result";
}

<h1>Search</h1>
<p class="text-danger">@ViewBag.Message</p>
<form asp-controller="Search" asp-action="SearchResults" method="post">
    <div class="form-group">
        <label asp-for="SearchTerm" class="control-label"></label>
        <input asp-for="SearchTerm" class="form-control" />
        <span asp-validation-for="SearchTerm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SearchBy"></label>
        <select asp-for="SearchBy"class="dropdown">
            <option value="Minimum Wage">Minimum Wage</option>
            <option value="Location Name">Location Name</option>
            <option value="Address">Address</option>
            <option value="City">City</option>
            <option value="County">County</option>
            <option value="State">State</option>
            <option value="ZIP">ZIP</option>
        </select>
        <p>Please Note: Search is case-sensitive.</p>
    </div>
    <div class="form-group/>">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
    <span>
        <p class="text-danger"></p>
    </span>
</form>
