@model FinalProject.ViewModels.AddCityWageViewModel

@{
    ViewData["Title"] = "AddCityWage";
}

<h1>AddCityWage</h1>

<h4>CityWage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCityWage" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinWage" class="control-label"></label>
                <input asp-for="MinWage" class="form-control" />
                <span asp-validation-for="MinWage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveDate" class="control-label"></label>
                <input asp-for="EffectiveDate" class="form-control" />
                <span asp-validation-for="EffectiveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add New City Wage" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

